@import "tailwindcss";

body {
  background-color: #f9fafb;
  color: #111827;
}

.card {
  background-color: white;
  border-radius: 0.75rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  transition: box-shadow 0.3s;
}

.card:hover {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);
}
